<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessories</title>
    <link rel="stylesheet" href="/accessories.css">
</head>
<body>
    <a id="top"></a>
    <header>
        <nav>
            <div class="nav-container">
                <h2 class="logo">Accessories</h2>
                <ul class="nav-links">
                    <li><a href="#new-arrivals">New Arrivals</a></li>
                <li><a href="#bags">Bags</a></li>
                <li><a href="#bracelets">Bracelets</a></li>
                <li><a href="#earrings">Earrings</a></li>
                <li><a href="#necklace">Necklace</a></li>
                <li><a href="#sunglasses">Sunglasses</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="new-arrivals">
        <h2><center>New Arrivals</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/b2.jpeg">
                <p>Clutch bag</p>
                <h2> ₹4,999/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b6.jpeg" style="height:259px;width:195px">
                <p>Tote Bag</p>
                <h2> ₹2,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n1.jpeg" style="height:259px;width:195px">
                <p>Gold-Plated CZ Studded Circular Pendant</p>
                <h2> ₹3,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
    </section>
    

    <section id="bags">
        <h2><center>Bags</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/b1.jpeg" style="height:259px;width:195px">
                <p>Bucket Bag</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b2.jpeg" style="height:259px;width:195px">
                <p>Clutch bag</p>
                <h2> ₹4,999/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b3.jpeg" style="height:259px;width:195px">
                <p>Prada Bag</p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b4.jpeg" style="height:259px;width:195px">
                <p>Potli Bag</p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b5.jpeg" style="height:259px;width:195px">
                <p>Sling Bag</p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/b6.jpeg" style="height:259px;width:195px">
                <p>Tote Bag</p>
                <h2> ₹2,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
    </section>

    <section id="bracelets">
        <h2><center>Bracelets</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/d1.jpeg" style="height:259px;width:195px">
                <p>Bengal Byzantine Broadway</p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/d2.jpeg" style="height:259px;width:195px">
                <p>Kundan Hathphool</p>
                <h2> ₹2,750/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/d3.jpeg" style="height:259px;width:195px">
                <p>Moissanite Kundan</p>
                <h2> ₹3,750/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/d4.jpeg" style="height:259px;width:195px">
                <p>Men Kundan</p>
                <h2>2,250/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/d5.jpeg" style="height:259px;width:195px">
                <p>Vintage Elephant Indian Bracelet</p>
                <h2> ₹1,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/d6.jpeg" style="height:259px;width:195px">
                <p>Arabic Caitlyn </p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
    </section>

    <section id="earrings">
        <h2><center>Earrings</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/e1.jpeg">
                <p>Heavy bridal jhumkas</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/e2.jpeg">
                <p>Fida Wedding Gold jhumkas</p>
                <h2> ₹1,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/e3.jpeg">
                <p>Priyaasi Gold-Plated Kundan-Studded</p>
                <h2> ₹2,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/e4.jpeg">
                <p>Bridal AD Stones Jhumkas</p>
                <h2> ₹2,999/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/e5.jpeg">
                <p>Big Pearl Designer jumkie Earrings</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/e6.jpeg">
                <p>Oomph Gold Tone Mirror Kundan</p>
                <h2> ₹1,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
    </section>

    <section id="necklace">
        <h2><center>Neck Pieces</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/n1.jpeg">
                <p>Gold-Plated CZ Studded Circular Pendant</p>
                <h2> ₹3,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n2.jpeg">
                <p>Traditional Gold Plated Long Antique</p>
                <h2> ₹8,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n3.jpeg">
                <p>Peacock Designer Necklace Set with Pearls</p>
                <h2> ₹5,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n4.jpeg" style="height:259px;width:195px">
                <p>Traditional Bridal Gold Necklace </p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n5.jpeg" style="height:259px;width:195px">
                <p>Traditional Long Necklace Set</p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/n6.jpeg" style="height:259px;width:195px">
                <p>Kundan Styled Bridal Choker</p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
    </section>

    <section id="sunglasses">
        <h2><center>Sunglasses</center></h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/s1.jpeg" style="height:259px;width:195px">
                <p>Retro Square Sunglasses</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/s2.jpeg" style="height:259px;width:195px">
                <p>Netwiz Retro Square Sunglasses</p>
                <h2> ₹3,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/s3.jpeg" style="height:259px;width:195px">
                <p>Voyage Black Rectangular Sunglasses</p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/s4.jpeg" style="height:259px;width:195px">
                <p>The Roadster Lifestyle Co. Blue Square Sunglasses</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/s5.jpeg" style="height:259px;width:195px">
                <p>Valwick Rectangular Sunglasses</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product">
                <img src="/images/s6.jpeg" style="height:259px;width:195px">
                <p>Louis Kouros Retro Square Sunglasses</p>
                <h2> ₹4,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
        </div> 
    </section>
    <footer>
        <p>&copy; 2024 Accessories Store. All rights reserved.</p>
    </footer>
</body>
</html>