<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Store</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <header>
        <h1>Cosmetic store</h1>
        <nav>
            <ul>
                <li><a href="#new-arrivals">New Arrivals</a></li>
                <li><a href="#lipsticks">lipsticks</a></li>
                <li><a href="#foundation">foundation</a></li>
                <li><a href="#Fragrange ">Fragrange</a></li>
                <li><a href="#eyemakeup">eyemakeup</a></li>
                <li><a href="#hair">hair</a></li>
            </ul>
        </nav>
    </header>

    <section id="new-arrivals">
        <h2>New Arrivals</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/a1.jpg" alt="makeup">
                <p>Makeup</p>
                
            </div>
            <div class="product">
                <img src="/images/a2.jpg" alt="hair">
                <p>Hair Care</p>
                
            </div>
            <div class="product">
                <img src="/images/a3.jpg" alt="Fragrance">
                <p>Fragrance</p>
                
            </div>
            <div class="product">
                <img src="/images/a4.jpg" alt="skincare">
                <p>skincare</p>
                
            </div>
            <div class="product">
                <img src="/images/a5.jpg" alt="appliances">
                <p>Appliances</p>
              
            </div>
            <div class="product">
                <img src="/images/a6.jpg" alt="pop ups">
                <p>Pop Ups</p>
             
            </div>
        </div>
    </section>

    <section id="lipsticks">
        <h2>lipstick</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/lip1.jpg" alt="lipstick">
                <p>MAC Matte Lipsstick (creame)</p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/lip2.jpg" alt="lipstick">
                <p>MAC satin Lipstick (Red)</p>
                <h2> ₹1,650/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/lip3.jpeg" alt="lipstick">
                <p>MAC Poweder Kiss (Teddy)</p>
                <h2> ₹2,200/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/lip4.jpeg" alt="lipstick">
                <p>MAC  Amplified Creme Lipstick (Vegas Volt)</p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/lip5.jpeg" alt="lipstick">
                <p>MAC Locked Kiss </p>
                <h2> ₹3,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/lip6.jpg" alt="lipstick">
                <p>MAC MACximal Matte Lipstick -Diva</p>
                <h2> ₹2,000/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
        </div>
    </section>

    <section id="foundation">
        <h2>Foundation</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/found.jpg" alt="Foundation">
                <p>CHANELLES Beiges Foundation </p>
                <h2> ₹2,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/found1.jpeg" alt="Foundation">
                <p>Fluid foundation No Transfer </p>
                <h2> ₹750/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/found2.jpeg" alt="Foundation">
                <p>Revelon color stay 24 hours  Hydrating Radiant Foundation</p>
                <h2> ₹3,750/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/found3.jpg" alt="Foundation">
                <p>Dior Forever Skin Glow 24H Hydrating Radiant Foundation</p>
                <h2>2,250/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/found4.jpg" alt="Foundation">
                <p>Maybelline New York Me Dewy - Smooth Foundation </p>
                <h2> ₹ 500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/found5.jpg" alt="Foundation">
                <p>Lakme White Foundation </p>
                <h2> ₹600/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
        </div>
    </section>

    <section id="Fragrange">
        <h2>Fragrange</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/frag1.jpg" alt="Plum ">
                <p>Plum BodyLovin' Vanilla Vibes Body Mist</p>
                <h2> ₹450/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/fra2.jpeg" alt="westside paris">
                <p>Studio west Paris Perfume</p>
                <h2> ₹1,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/frag3.jpg" alt="Victoria">
                <p>Victoria 's Secret Bombshell</p>
                <h2> ₹11,500/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/frag4.jpg" alt="Channel">
                <p>Channel Coco mademoiselle</p>
                <h2> ₹17,300/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/frag5.jpeg" alt="Dior ">
                <p>Dior Women Christian Miss Eau De Rose Parfum Spray</p>
                <h2> ₹17450/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/frag6.jpg" alt="Bath & body ">
                <p> Bath & Body works Fragrance Mist</p>
                <h2> ₹2,099/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
        </div>
    </section>

    <section id="eyemakeup">
        <h2>Eyemakeup</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/eye1.jpg" alt="Eye shadow">
                <p>MARS Basic Eyeshadow Palette</p>
                <h2> ₹259/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/eye2.jpg" alt="eye">
                <p>Gash Beauty Eye like </p>
                <h2> ₹699/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/eye3.jpg" alt="mascara">
                <p>Colobar Zoom & Whoosh Mascara </p>
                <h2> ₹580/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/eye4.jpeg" alt="kajol">
                <p>Maybelline New York Pencil Eyeliner</p>
                <h2> ₹317/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/eye5.jpg" alt="eye shadow ">
                <p>Inshight Liquid Eyeshadow /p>
                <h2> ₹375/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
        </div>
    </section>

    <section id="hair">
        <h2>hair</h2>
        <div class="product-grid">
            <div class="product">
                <img src="/images/hair1.jpg" alt="shampoo">
                <p>Loreal paris Hyaluron Moisture Combo for 72 hr </p>
                <h2> ₹1,056/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/hair2.jpg" alt="Serum">
                <p>Minimalist Frizz Control Complex SPF 30 Hair Serum</p>
                <h2> ₹569/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/hair3.jpg" alt="Mask">
                <p>Dove 10 in 1 Deep Repair Treatment Hair Mask </p>
                <h2> ₹519/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/hair4.jpg" alt=" Dry Shampoo">
                <p>BBlunt Refresh Dry Shampoo</p>
                <h2> ₹552/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>
            <div class="product">
                <img src="/images/hair5.jpg" alt=" cream">
                <p>Curly hair Setting Cream</p>
                <h2> ₹338/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>

            <div class="product"></div>
                <img src="/images/hair6.jpg" alt=" cream">
                <p>Love Beauty & Planet Argan Oil And Lavendar Heat Protection & Conditioning Hair Mist</p>
                <h2> ₹370/-</h2>
                <a href="#" class="add-to-cart">Add to Cart</a> 

            </div>

           
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Men's Clothing Store. All rights reserved.</p>
    </footer>
</body>
</html>